<a href="https://colab.research.google.com/github/nomi099/19011508-026-assignment-2-visual-programing-/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
 
from math import pi
nouman = float(input ("the radius: "))
print ("The area " + str(nouman) + " is: " + str(pi * nouman**2))

the radius: 23
The area 23.0 is: 1661.9025137490005

In [2]:
 
nomi = input("Input some comma seprated numbers : ")
list = nomi.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 6,7,8
List :  ['6', '7', '8']
Tuple :  ('6', '7', '8')

In [5]:
 
def nomi(d):
  if len(d) == len(set(d)):
    return True
  else:
    return False;
print(nomi([1,5,7,9]))
print(nomi([2,4,8,8]))

True
False

In [7]:
 
def remove_nums(int_list):
  #list starts with 0 index
  position = 3 - 1 
  idx = 0
  len_list = (len(int_list))
  while len_list>0:
    idx = (position+idx)%len_list
    print(int_list.pop(idx))
    len_list -= 1
nums = [180,200,300,480,900]
remove_nums(nums)

300
180
900
200
480